flows.json
[{"id":"b5ea2f4a.18292","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a9fce85f.9beed8","type":"ui_form","z":"b5ea2f4a.18292","name":"","label":"","group":"20a8e062.c2306","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"Create","cancel":"Cancel","topic":"","x":230,"y":140,"wires":[["e91a8aa3.e00f58","b5054ece.94801"]]},{"id":"e91a8aa3.e00f58","type":"debug","z":"b5ea2f4a.18292","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":40,"wires":[]},{"id":"b5054ece.94801","type":"function","z":"b5ea2f4a.18292","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    Password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":140,"wires":[["6703b77f.a56918"]]},{"id":"6703b77f.a56918","type":"cloudant out","z":"b5ea2f4a.18292","name":"cloudant","cloudant":"","database":"sample","service":"node-red-bbyaa-2020--cloudant-1597404757015-53537","payonly":true,"operation":"insert","x":640,"y":140,"wires":[]},{"id":"a222f5b5.64d9b8","type":"ui_form","z":"b5ea2f4a.18292","name":"","label":"","group":"751e5052.1f3a3","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":230,"y":220,"wires":[["ee37a25f.01305"]]},{"id":"ee37a25f.01305","type":"function","z":"b5ea2f4a.18292","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":220,"wires":[["3a79c040.1c6ad"]]},{"id":"3a79c040.1c6ad","type":"function","z":"b5ea2f4a.18292","name":"","func":"var emailid=global.get(\"emailid\");\n\nmsg.payload=\"emailid:\"+emailid;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":220,"wires":[["4eea0b25.216bd4"]]},{"id":"4eea0b25.216bd4","type":"cloudant in","z":"b5ea2f4a.18292","name":"","cloudant":"","database":"sample","service":"node-red-bbyaa-2020--cloudant-1597404757015-53537","search":"_idx_","design":"user","index":"user","x":800,"y":220,"wires":[["7f517f0f.6f647"]]},{"id":"7f517f0f.6f647","type":"function","z":"b5ea2f4a.18292","name":"","func":"if(msg.payload[0].password===global.get('Password')){\n    msg.payload='Login Successful';\n}\nelse{\n     msg.payload='Login Failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":220,"wires":[["6a4ccf2f.e5f94"]]},{"id":"6a4ccf2f.e5f94","type":"ui_text","z":"b5ea2f4a.18292","group":"751e5052.1f3a3","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1150,"y":220,"wires":[]},{"id":"effc477a.e44e28","type":"ui_form","z":"b5ea2f4a.18292","name":"","label":"","group":"134aa4b5.501c7b","order":0,"width":0,"height":0,"options":[{"label":"User input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":230,"y":300,"wires":[["51ef4ab2.bf4794"]]},{"id":"51ef4ab2.bf4794","type":"function","z":"b5ea2f4a.18292","name":"","func":"msg.payload = msg.payload.input;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":410,"y":300,"wires":[["fd1023d5.5c95b"]]},{"id":"fd1023d5.5c95b","type":"watson-conversation-v1","z":"b5ea2f4a.18292","name":"","workspaceid":"cf9c28c5-a574-418c-974f-2e271af811d7","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/e1cb9826-f4b7-44fb-b400-183c4ca27ecb","timeout":"","optout-learning":false,"x":590,"y":300,"wires":[["af235c78.5bff9"]]},{"id":"87c02424.83df18","type":"ui_text","z":"b5ea2f4a.18292","group":"134aa4b5.501c7b","order":1,"width":0,"height":0,"name":"","label":"Bot Response","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":300,"wires":[]},{"id":"ded5e62c.2d9688","type":"ui_audio","z":"b5ea2f4a.18292","name":"","group":"134aa4b5.501c7b","voice":"","always":"","x":810,"y":360,"wires":[]},{"id":"af235c78.5bff9","type":"function","z":"b5ea2f4a.18292","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":300,"wires":[["87c02424.83df18","ded5e62c.2d9688"]]},{"id":"20a8e062.c2306","type":"ui_group","z":"","name":"Reg form","tab":"312e6bc6.f73fa4","order":1,"disp":true,"width":"6","collapse":false},{"id":"751e5052.1f3a3","type":"ui_group","z":"","name":"Login Form","tab":"7936ab22.b36a54","order":1,"disp":true,"width":"6","collapse":false},{"id":"134aa4b5.501c7b","type":"ui_group","z":"","name":"CustomerHelp","tab":"26d97c64.794254","order":1,"disp":true,"width":"6","collapse":false},{"id":"312e6bc6.f73fa4","type":"ui_tab","z":"","name":"Registration Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"7936ab22.b36a54","type":"ui_tab","z":"","name":"Login Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"26d97c64.794254","type":"ui_tab","z":"","name":"Bot","icon":"dashboard","disabled":false,"hidden":false}]